<%= link_to "Station_Trains Index", href: "station_trains#index" %>
<h1><%= @station.name %></h1>

<p>
  Platform Count: <%= @station.platform_count %><br>
  Food Stand?: <%= @station.food_stand ? "Yes" : "No" %><br>
  <br>
  Trains Available: <%= @station.trains.count %>
</p>